
<!-- @if(isopen){
  <ngb-alert type="info" (closed)="toggle()">hello</ngb-alert>
} -->
<!-- <ngb-alert type="info" (closed)="toggle()"*ngIf="isopen">hello</ngb-alert> -->
<h1>
  {{title}}
</h1>
<hr>
<!-- other events like click in angular
onmouseover, onkeyup, onkeydown, ondblclick, onblur, onfocus, onfocusout, onfocusin, oninput, onreset, onsubmit, onchange, onselect, onscroll, oncut, oncopy, onpaste, ondrag, ondragend, ondragenter, ondragleave, ondragover, ondragstart, ondrop, onmousedown, onmouseenter, onmouseleave, onmousemove, onmouseout, onmouseover, onmouseup, onscroll, onwheel, onresize, onscroll, onscrollend, onscrollstart, onscrollend, onscrollstart, onscrollend, onscrollstart, onscrollend, onscrollstart, onscrollend, onscrollstart, onscrollend, onscrollstart, onscrollend, onscrollstart, onscrollend, onscrollstart, onscrollend, onscrollstart, onscrollend, onscrollstart, onscrollend, onscrollstart, onscrollend, onscrollstart, onscrollend, onscrollstart, onscrollend, onscrollstart, onscrollend, onscrollstart, onscrollend, onscrollstart, onscrollend, onscrollstart, onscrollend, onscrollstart-->
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam fuga facere quos. Laudantium modi culpa pariatur rerum architecto distinctio placeat facilis? Numquam aut provident quis doloribus perspiciatis voluptatum nihil eaque.</p>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel assumenda corrupti sint illum culpa maiores quod voluptate labore! Nihil similique culpa fugiat est ipsam, fuga quaerat nostrum dolor aspernatur exercitationem.</p>






<button (click)="changeTitle()">update title</button>

The count is :{{count}}
